/* For best practice, move CSS below to an external CSS file. */
@keyframes fadeinall {
    0% {
      opacity: 1; }
    97% {
      opacity: 0; }
    98% {
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    99% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%); }
    100% {
      opacity: 0;
      z-index: -1; } 
    }
    #loader {
      opacity: 1;
      position: fixed;
      width: 100%;
      height: 100%;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      background-color: #fff;
      z-index: 999;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation: fadeinall 1s normal both;
      animation: fadeinall 1s normal both;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; 
    }
/*Arena*/
.arena{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100%;
  align-items: center;
}
.buttonRow{
  padding: 10px;
}
/*Button*/
.button {
  background-color: #191970;
  width: 10rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.selected{
  background-color: #b3d9ff;
}
/*Gameboard*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e6f2ff;
  box-shadow: 10px 5px 5px#b3d9ff;
}
.play-area {
  display: grid;
  height: 70%;
  grid-template-columns: auto auto auto;
}
.block {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid black;
  transition: background 0.2s ease-in-out;
}

.block:hover {
  cursor: pointer;
  background: #191970;
}
.occupied:hover {
  background: #ff3a3a;
}
#block_0,
#block_1,
#block_2 {
  border-top: none;
}

#block_0,
#block_3,
#block_6 {
  border-left: none;
}

#block_6,
#block_7,
#block_8 {
  border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
  border-right: none;
}